version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/build"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    versioning-strategy: increase
    
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"