# Configuration personnelle
.env
docker-compose.yml

# Base de données
/data/
*.db
*.db-journal

# Fichiers de construction
build/.next/
build/dist/
build/node_modules/
.npm/
.next/
dist/
node_modules/
out/

# Divers
.DS_Store
*.log